.imagen {
  background-image: url(../img/alura.png);
  background-size: cover;
  width: 200px;
  height: 100px;
}
.imagen2 {
  background-image: url("../img/telefono.png");
  background-size: cover;
  width: 200px;
  height: 100px;
}
