.imagen3 {
  background-image: url(../assets/img/portafolio.jpeg);
  background-size: contain;
  width: 200px;
  height: 100px;
}
.imagen4 {
  background-image: url("../assets/img/encriptador.jpeg");
  background-size: cover;
  width: 200px;
  height: 100px;
}
body {
  background: black;
}
