.imagen3 {
<<<<<<< HEAD
  background-image: url(../img/portafolio.jpeg);
=======
  background-image: url("../img/portafolio.jpeg");
>>>>>>> 2b184cb554ad96724926d2daa0d4ac8073df6ad0
  background-size: contain;
  width: 200px;
  height: 100px;
}
.imagen4 {
  background-image: url("../img/encriptador.jpeg");
  background-size: cover;
  width: 200px;
  height: 100px;
}
body {
  background: green;
}
